

.modalContent {

    h2 {
        font-size: 24px;
        margin-bottom: 20px;
        text-align: center;
    }
}

.modalForm {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .inputGroup {
        display: flex;
        flex-direction: column;

        label {
            font-size: 14px;
            color: #333;
            margin-bottom: 5px;
        }

        input,
        select {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
        }
    }
}

.modalActions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    .cancelButton {
        padding: 10px 20px;
        background-color: #ccc;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;

        &:hover {
            background-color: #bbb;
        }
    }

    .saveButton {
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;

        &:hover {
            background-color: #0056b3;
        }
    }
}