.menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    border-radius: 5px;

    &:hover {
        background-color: #fff;
    }

    .itemName {
        width: 100%;
        display: flex;
        gap: 15px;
        align-items: center;

        p {
            color: #757D8A;
        }
    }
}